body {
  /* background: url("./fondo-3.jpg") no-repeat; */
  /* background-size: cover; */
  background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
}

.container-todolist {
  width: 50%;
  margin:50px auto;
  background-color: #fcfcda;
  border-radius: 30px;
  /* padding-bottom: 10px; */
}

@media screen and (max-width: 992px) {
  .container-todolist {
    width: 80%;
    margin: 50px auto 90px auto;
    background-color: #fcfcda;

  }
}


/* comentario */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
